ul
	padding 0
	text-align center
	li
		margin-bottom .5em
		i
			margin-right 1em
		a
			display block
			padding 0.5em 0


.Perfil
	display flex 
	flex-direction column
	justify-content space-between
	background #E8892D
	width 15.5em
	flex-shrink 0
	color white 


	&-header-figure
		text-align center
		img
			width 8em
			height 8em
		&-figcaptions
			figcaption
				padding .5em
				border-radius 5px
				margin-top 1em
				&:first-child 
					background #4DAB15
				&:last-child
					background #EA1D0D
	&-contacto
		&-tel
			background #1D441E
			&:hover
				background black
		&-email
			background #2533BA
			&:hover
				background black
		&-contratar
			background #7F911C
			&:hover
				background black
	&-redesSociales
		&-twt
			background blue
			&:hover
				background black
		&-fb
			background blue
			&:hover
				background black
		&-git
			color black
			background gray
			&:hover
				background white
	&-mapa
		background red
		width 100%
		height 8em


