<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		title Roberto Flores
		link(rel="stylesheet" type="text/css" href="css/estilos.css")
	body
		section
			header
				figure
					img
					figcaption Roberto Flores
					figcaption Front-end
			article
				ul
					a
						li
							i //para icono
							span (844) 000 0000 
					a
						li
							i 
							span correo@correo.com
					a
						li
							i 
							span Contratar
			article
				ul
					a
						li
							i
		section
			article
				div
					h2 Habilidad 1
					p Lomet ffshdbqgijosgqrnjgjc jnissgqoinougjoi onnfoierjn frjjnfsdjrk kjgnkfjoi hghuhp9roqickvnskra
			article
				div
					h2 Habilidad 2
					p Lomet